body {
    font-family: Arial, sans-serif;
    background-image: url(https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/4X/b/5/d/b5df22212253eda5f0cebe857cc84dd9a874a478.jpeg);
    color: white;
}

#survey-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #232527;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, p {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #0b0a0c;
    color: #ffffff;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #ffffff;
    color: #232527;
    border: none;
    padding: 10px 20px;
    margin: auto;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

fieldset {
    border: none;
}
